
@{
    ViewData["Title"] = "Index";
}

<h1>Formulario submetido</h1>

<p>Submetido com sucesso</p>
<p>Foi inserido os seguintes dados : @TempData["values"]</p>

<a asp-controller="Person" asp-action="create" class="btn btn-primary">Create New</a>

